######## POSTGRESQL CONFIGURATION ########
DATABASE_URL=

######## JWT CONFIGURATION ########
JWT_SECRET=
JWT_EXPIRATION= # in seconds

######## MAIL CONFIGURATION ########
MAIL_HOST=
MAIL_PORT=
MAIL_NOREPLY=
MAIL_USER=
MAIL_PASSWORD=

######## APP CONFIGURATION ########
PORT=3000
NODE_ENV= # development, production
CORS_ORIGIN= # comma separated list of origins
